* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background: rgb(249, 249, 249);
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-color: #271100;
  --orange-color: #f76d00;
  --green-color: #25d366;
  --skyblue-color: #009ddd;
  --gray-color: #4f4f4f;
  --dark-white-color: #f8f6f4;
  --line-color: #f1e9e4;
  --brown-color: #958070;
}
.textArea {
  height: 100px;
  background: #f8f6f4;

  textarea {
    width: 100%;
    height: 100%;
    border: none !important;

    &:focus {
      border: none !important;
    }
  }
}
.navLine{
  width: 2px;
}
button {
  cursor: pointer;
}
.orange {
  color: var(--orange-color);
}
.blue {
  color: var(--skyblue-color);
}
.green {
  color: var(--green-color);
}
.emj{
  width: 200px;

}
li{
  cursor: pointer;
}
.Navbutton{
  background:#25d366;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 42px;
  color: #ffffff;
}
.disabled {
  color: #4f4f4f;
  fill: "#4f4f4f";
}
.bgQuote {
  position: relative;
  bottom: 70px;
  left: 430px;
}
.proicon {
  font-size: 50px;
  // cursor: pointer;
}
.arrowgreensvg {
  margin-top: 8px;
  cursor: pointer;
}
.icon {
  font-size: 18px;
  cursor: pointer;
}
.nBar{
  padding: 10px 40px 0 40px;
}
.cursor {
  cursor: pointer;
}
.flex {
  display: flex;
  gap: 3px;
}
::-webkit-scrollbar {
  display: none;
  //   background: var(--green-color);
}

::-webkit-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width:992px){
  .line{
display: none;
  }
  .footerImages{
    display: none;
  }
  .footer-underline-text{
    display: none;
  }
  hr{
    display: none;
  }
  
}