* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  background: rgb(249, 249, 249);
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --dark-color: #271100;
  --orange-color: #f76d00;
  --green-color: #25d366;
  --skyblue-color: #009ddd;
  --gray-color: #4f4f4f;
  --dark-white-color: #f8f6f4;
  --line-color: #f1e9e4;
  --brown-color: #958070;
}
.textArea {
  height: 100px;
  background: #F8F6F4;

  textarea {
    width: 100%;
    height: 100%;
    border: none !important;

    &:focus {
      border: none !important;
    }
  }
}
button {
  cursor: pointer;
}
.orange {
  color: var(--orange-color);
}
.blue {
  color: var(--skyblue-color);
}
.green{
  color: var(--green-color);
}
.disabled{
 color: #4f4f4f;
 fill:"#4f4f4f";
}
.bgQuote{
  position: relative;
  bottom: 70px;
  left: 430px;
}
.proicon{
 font-size: 50px;
// cursor: pointer;

}
.arrowgreensvg{
 margin-top: 8px;
 cursor: pointer;
}
.icon{
  font-size: 18px;
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
.flex {
  display: flex;
  gap: 3px;
}
::-webkit-scrollbar {
 display: none;
//   background: var(--green-color);
}

::-webkit-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


/* Navbar.module.scss */

/* Navbar.module.scss */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 1;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

/* Optionally, you can style the last item without a bottom border */
.dropdownItem:last-child {
  border-bottom: none;
}

/* Add a class to show the dropdown content */
.dropdownContent.show {
  display: block;
}
